<% include ./partials/top.ejs %>
<div class="contact-page container-fluid">
  <div class="text-center">
    <h1 class="welcomeHeading text-danger">Contact</h1>
    <p>Please contact via email <code>info(at)throwa.com</code></p>
      </div>
  </div>
</div>
<% include ./partials/bottom.ejs %>
