<% include ./partials/top.ejs %>
<div class="container-fluid">
  <div class="text-center">
    <h1 class="welcomeHeading text-danger"><%=status%> <%=message%></h1>
    <p>Requested page you tried to open, does not exist!</p>
      </div>
  </div>
</div>
<% include ./partials/bottom.ejs %>