<% include ./partials/top.ejs %>
<div class="tos-page container-fluid">
  <div class="text-center">
    <h1 class="welcomeHeading text-danger">Terms and conditions</h1>
      <div class="text-left">
<p>All users must agree to not use the Throwa.com File sharing service for any illegal or unauthorized purposes. All users must agree to comply with local laws regarding online conduct, and copyright laws. Throwa.com File sharing is intended for personal use for sharing files between frieds, family or co-workers. All users must not use Throwa.com File sharing's services to violate any laws which include but are not limited to copyright laws.</p>

<p>All users use Throwa.com File sharing at their own risk, users understand that files uploaded on Throwa.com File sharing are not private, they may be displayed for others to view, and Throwa.com File sharing users understand and agree that Throwa.com File sharing cannot be responsible for the content posted on its web site and you nonetheless may be exposed to such materials and that you use Throwa.com File sharing's service at your own risk.</p>

<p>We reserve the right to modify or terminate the Throwa.com File sharing service for any reason, without notice at any time.</p>
<p>We reserve the right to alter these Terms of Use at any time.</p>
<p>We reserve the right to refuse service to anyone for any reason at any time.</p>
<p>We may, but have no obligation to, remove content that we determine in our sole discretion are unlawful, offensive, threatening, libelous,
  defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.</p>

<p>Throwa.com File sharing claims no intellectual property rights over the images uploaded by its' users.</p>
      </div>
  </div>
</div>
<% include ./partials/bottom.ejs %>
